.contenedorMainReserva{
    margin: 2% 10%;
}

.contenedorMainReserva__img img{
    object-fit: cover;
}

.contenedorTabla{
    display: flex;
    flex-direction: column;
}

.contenedorTabla__tabla{
    margin: 2% 0 ;
}

.contenedorTabla__tituloTabla{
    @include titulo1;
}

#tabla__estilo{
    background-color: $color4;
}

.contenedorTabla__Form{
    margin: 0 5% 2% 5%;
}

@media (min-width: 600px) {
    .contenedorTabla{
        flex-direction: row;
        justify-content: space-around;
    }

  
}